<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header class="header"></header>
    <nav class="nav">
      <span>메뉴1</span>
      <span>메뉴2</span>
      <span>메뉴3</span>
      <span>메뉴4</span>
    </nav>
    <div class="content">
      <aside class="aside">
        <span>item1</span>
        <span>item2</span>
        <span>item3</span>
        <span>item4</span>
      </aside>
      <main class="main"></main>
    </div>
  </body>
</html>
